<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Meta data -->
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" href="../../static/assets/images/brand/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/images/brand/favicon.ico"/>

    <!-- Title -->
    <title>Beans Realm</title>

    <!-- Bootstrap css -->
    <link th:href="@{/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/skin-modes.css}" rel="stylesheet"/>

    <!-- Font-awesome  css -->
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet"/>

    <!--Select2 css-->
    <link th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!-- File Uploads css -->
    <link th:href="@{/assets/plugins/fancyuploder/fancy_fileupload.css}" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet"/>

    <!--Image-tooltip css-->
    <link th:href="@{/assets/plugins/image-tooltip/image-tooltip.css}" rel="stylesheet"/>

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" th:href="@{/assets/color-skins/color6.css}"/>

</head>

<body class="headerstyle3">

<!--Loader-->
<div id="global-loader">

</div><!--/Loader-->

<!--Section-->
<div class="cover-image bg-background3" data-image-src="../assets/images/banners/banner4.jpg">

    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                    </div>
                </div>
            </div>
        </div><!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2 header-icons">
            <div class="container">
                <div class="d-flex">
                    <div class="header-search-logo d-none d-lg-block">
                    </div>
                    <div class="d-flex ml-auto header-right-icons header-search-icon">
                        <div class="dropdown d-md-flex notifications">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown">
                                <div class="drop-cart header-dropdown-list">
                                    <div class="border-bottom">
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">

                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/03.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/04.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">

                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <div class="btn-list">
                                    </div>
                                </div>
                            </div>

                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex message">
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="message-menu header-dropdown-list">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/1.jpg"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- MESSAGE-BOX -->
                            <div class="dropdown d-md-flex profile-1">

                                <div class="top-bar-right">
                                    <ul class="custom">
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <div class="drop-heading">

                                            </div>
                                            <div class="dropdown-divider m-0"></div>

                                            <div class="dropdown-divider mt-0"></div>

                                        </div>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header><!--/Header-->

        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            </div>
        </div>
        <!-- /Mobile Header -->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true"><i class="fe fe-home"></i><a th:href="@{/}">Home </a></li>
                        <li aria-haspopup="true">
                            <i class="fe fe-codepen"></i><a th:href="@{/beans}">Filter Beans</a>
                        </li>
                        <li aria-haspopup="true">
                            <i class="fe fe-upload"></i> <a th:href="@{/bean}">Upload Bean</a></li>
                        <li aria-haspopup="true">
                        <li aria-haspopup="true">
                            <i class="fe fe-codepen"></i><a th:href="@{/beans/unapproved}">Approve New Beans</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--/Horizontal-main -->

    </div><!--Topbar-->

    <!--Search Section-->
    <section>
        <div class="sptb-2 sptb-tab">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white mb-6">
                        <h1 class="mb-1">Beans Realm</h1>
                        <p class="mb-0">Free beans</p>
                    </div>

                    <!--Search Form-->
                    <form> <!-- th:action="@{/beans/all}"-->
                        <div class="row">
                            <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                                <div class="search-form">
                                    <input type="search" class="form-control input-lg"
                                           id="text4" placeholder="Search bean by name...">
                                    <button class="btn ripple ">
                                        <i class="fe fe-search" th:href="@{/beans/search}"></i></button>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section><!--Search Section-->

</div><!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 col-md-12 col-md-12">
                <div class="card mb-xl-0">
                    <!-- Form DIV -->
                    <div class="card-body">

                        <form th:action="@{/bean}" th:object="${beanDto}" method="post"
                              enctype="multipart/form-data">

                            <div class="form-group">
                                <label style="color:red"> <strong><em>* All field are mandatory</em></strong></label>
                                </br>
                                <label style="color: red" class="error" th:errors="*{name}">Error
                                    placeholder </label>
                                <label class="form-label text-dark">Title</label>
                                <input type="text" class="form-control" placeholder="Enter Title"
                                       th:field="*{name}">

                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{typeId}">Error </label>
                                <label class="form-label text-dark">Type</label>
                                <select class="form-control custom-select select2-show-search"
                                        th:field="*{typeId}">
                                    <option th:value="${-1}" th:text="${'--Select--'}" value="1">All</option>
                                    <option th:each="type : ${types}" th:value="${type.getId()}"
                                            th:text="${type.getName()}">First Type
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{tagId}">Error </label>
                                <label class="form-label text-dark" >Tag</label>
                                <select class="form-control custom-select select2-show-search"
                                        th:field="*{tagId}">
                                    <option th:value="${-1}" th:text="${'--Select--'}" value="1">All</option>
                                    <option th:each="tag : ${tags}" th:value="${tag.getId()}"
                                            th:text="${tag.getName()}">First Tag
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{deviceId}">Error </label>
                                <label class="form-label text-dark" >Device</label>
                                <select class="form-control custom-select select2-show-search"
                                        th:field="*{deviceId}">
                                    <option th:value="${-1}" th:text="${'--Select--'}" value="1">All</option>
                                    <option th:each="device : ${devices}" th:value="${device.getId()}"
                                            th:text="${device.getName()}">First Device
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{description}">Error</label>
                                <label class="form-label text-dark">Description</label>
                                <textarea class="form-control" name="example-textarea-input" rows="6"
                                          placeholder="Enter description.."
                                          th:field="*{description}"></textarea>
                            </div>

                            <div class="p-2 border mb-4 form-group">
                                <label style="color: red" class="error" th:errors="*{image}">Error </label>
                                <label class="form-label text-dark" >Upload Image</label>
                                <label>Image</label>
                                <input type="file" name="files" th:field="*{image}">
                            </div>

                            <div class="p-2 border mb-4 form-group">
                                <label style="color: red" class="error" th:errors="*{content}">Error </label>
                                <label class="form-label text-dark" >Upload Content</label>
                                <label>Content</label>
                                <input type="file" name="files" th:field="*{content}">
                            </div>

                            <div class="form-group">
                                <label style="color: red" class="error" th:errors="*{repositoryUrl}">Error</label>
                                <label class="form-label text-dark">Repository URL</label>
                                <input type="text" class="form-control" placeholder=""
                                       th:field="*{repositoryUrl}">
                            </div>

                            <div class="card-footer text-right">
                                <button type="Submit" value="Save" class="btn btn-primary">Save
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Right side-->
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Benefits Of Creating an Bean</h3>
                    </div>
                    <div class="card-body pb-2">
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Share knowledge with other
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Help to expand the dev
                                community
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Create new contacts
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Something else
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Something else
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Something else
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Items Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on
                                top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in
                                Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Items Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on
                                top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in
                                Google results
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium Items Active
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads are displayed on
                                top
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Premium ads will be Show in
                                Google results
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Terms And Conditions</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled widget-spec  mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>All uploaded Beans are
                                public
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>You can git clone this application
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>No real software is distributed
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i>Uploading and downloading of
                                plugins is free of charge
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Safety</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled widget-spec  mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> All software products are
                                virus free
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> All registered users are
                                real
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i> Something else
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- Right side-->

        </div>
    </div>
</section><!--/Section-->


<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Beans Realm - The better Beans shareplace </p>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Our Services</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a href="javascript:;">Our Team</a></li>
                            <li><a href="javascript:;">Contact US</a></li>
                            <li><a href="javascript:;">About</a></li>
                            <li><a href="javascript:;">Services</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">Terms and Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Ivan Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i>ivanov.biol@gmail.com</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 883 315 999</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        Copyright © 2023 <a href="#" class="fs-14 text-primary">Project</a>. Designed by
                        <a href="#"
                           class="fs-14 text-primary">
                            Ivan Ivanov </a>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer Section-->

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

<!-- JQuery js-->
<script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/assets/plugins/bootstrap-4.3.1/js/popper.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js}"></script>

<!--JQuery IT Itemsrkline js-->
<script th:src="@{/assets/js/jquery.sparkline.min.js}"></script>

<!-- Circle Progress js-->
<script th:src="@{/assets/js/circle-progress.min.js}"></script>

<!-- Star Rating js-->
<script th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

<!--Owl Carousel js -->
<script th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!--Horizontal Menu js-->
<script th:src="@{/assets/plugins/horizontal-menu/horizontal-menu.js}"></script>

<!--JQuery TouchSwipe js-->
<script th:src="@{/assets/js/jquery.touchSwipe.min.js}"></script>

<!--Select2 js -->
<script th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
<script th:src="@{/assets/js/select2.js}"></script>

<!-- Custom scroll bar js-->
<script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- sticky js-->
<script th:src="@{/assets/js/sticky.js}"></script>

<!-- Image-tooltip js -->
<script th:src="@{/assets/plugins/image-tooltip/image-tooltip.js}"></script>

<!-- Vertical scroll bar js-->
<script th:src="@{/assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js}"></script>
<script th:src="@{/assets/plugins/vertical-scroll/vertical-scroll.js}"></script>

<!--File-Uploads js-->
<script th:src="@{/assets/plugins/fancyuploder/jquery.ui.widget.js}"></script>
<script th:src="@{/assets/plugins/fancyuploder/jquery.fileupload.js}"></script>
<script th:src="@{/assets/plugins/fancyuploder/jquery.iframe-transport.js}"></script>
<script th:src="@{/assets/plugins/fancyuploder/jquery.fancy-fileupload.js}"></script>
<script th:src="@{/assets/plugins/fancyuploder/fancy-uploader.js}"></script>

<!-- Custom scroll bar js-->
<script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- Swipe js-->
<script th:src="@{/assets/js/swipe.js}"></script>

<!-- Scripts js-->
<script th:src="@{/assets/js/owl-carousel.js}"></script>

<!-- Custom Js-->
<script th:src="@{/assets/js/custom.js}"></script>

</body>
</html>