<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Meta data -->
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" href="../assets/images/brand/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico"/>

    <!-- Title -->
    <title>Beans Realm</title>

    <!-- Bootstrap css -->
    <link th:href="@{/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/skin-modes.css}" rel="stylesheet"/>

    <!-- Font-awesome  css -->
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet"/>

    <!--Select2 css -->
    <link th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet"/>

    <!-- Owl Theme css-->
    <link th:href="@{/assets/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet"/>

    <!-- Nice-Select css-->
    <link th:href="@{/assets/plugins/jquery-nice-select/css/nice-select.css}" rel="stylesheet"/>

    <!--Image-tooltip css-->
    <link th:href="@{/assets/plugins/image-tooltip/image-tooltip.css}" rel="stylesheet"/>

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" th:href="@{/assets/color-skins/color6.css}"/>

</head>

<body class="headerstyle1">

<!--Loader-->
<div id="global-loader">
    <img src="../assets/images/loader.svg" class="loader-img" alt="img">
</div><!--/Loader-->

<!--Section-->
<div class="banner-1 cover-image bg-background2" data-image-src="../assets/images/banners/banner4.jpg">

    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                    </div>
                </div>
            </div>
        </div><!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2 header-icons">
            <div class="container">
                <div class="d-flex">
                    <div class="header-search-logo d-none d-lg-block">
                    </div>
                    <div class="d-flex ml-auto header-right-icons header-search-icon">
                        <div class="dropdown d-md-flex notifications">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown">
                                <div class="drop-cart header-dropdown-list">
                                    <div class="border-bottom">
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">

                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/03.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/04.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">

                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <div class="btn-list">
                                    </div>
                                </div>
                            </div>

                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex message">
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="message-menu header-dropdown-list">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/1.jpg"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- MESSAGE-BOX -->

                            <div class="dropdown d-md-flex profile-1">

                                <a sec:authorize="isAuthenticated()"
                                   class="nav-link icon text-center" data-toggle="dropdown">
                                    <i class="fe fe-user"></i>
                                    <span class="pulse bg-success"></span>
                                </a>

                                <div class="top-bar-right">
                                    <ul class="custom">

                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <div class="drop-heading">
                                                <div class="text-center">
                                                    <h5 class="text-dark mb-1">
                                                        <h2 sec:authorize="isAuthenticated()"
                                                            sec:authentication="name">
                                                        </h2>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider m-0"></div>
                                            <div class="dropdown-divider mt-0"></div>
                                            <a class="dropdown-item" th:href="@{/logout}">
                                                <i class="dropdown-icon ti-unlock"></i> Logout
                                            </a>
                                        </div>

                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header><!--/Header-->

        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            </div>
        </div>
        <!-- /Mobile Header -->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('user', 'admin')">
                            <i class="fe fe-home"></i><a th:href="@{/}">Home </a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('user', 'admin')">
                            <i class="fe fe-codepen"></i><a th:href="@{/beans}">Filter Beans</a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('user', 'admin')">
                            <i class="fe fe-upload"></i> <a th:href="@{/bean}">Upload Bean</a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('admin')">
                            <i class="fe fe-codepen"></i><a th:href="@{/beans/unapproved}">Approve New Beans</a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('admin')">
                            <i class="fe fe-codepen"></i><a th:href="@{/users}">Disable Users</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--/Horizontal-main -->

    </div><!--Topbar-->

    <!--Search Section-->
    <section>
        <div class="sptb-2 sptb-tab">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white mb-6">
                        <h1 class="mb-1">Beans Realm</h1>
                        <p class="mb-0">Free beans</p>
                    </div>

                    <!--Search Form-->
                    <form> <!-- th:action="@{/beans/all}"-->
                        <div class="row">
                            <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                                <div class="search-form">
                                    <input type="search" class="form-control input-lg"
                                           id="text4" placeholder="Search bean by name...">
                                    <button class="btn ripple ">
                                        <i class="fe fe-search" th:href="@{/beans/search}"></i></button>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section><!--Search Section-->


</div><!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="border-0 mb-5 mb-xl-0">
                    <div class="wideget-user-tab wideget-user-tab3">
                        <div class="tab-menu-heading">
                            <div class="tabs-menu1">
                                <ul class="nav">

                                    <li class=""><a href="#tab-1" class="active" data-toggle="tab">Details</a></li>
                                    <li><a href="#tab-2" data-toggle="tab" class="">Versions</a></li>
                                    <li><a href="#tab-3" data-toggle="tab" class="">Reviews</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Icons above picture    -->
                    <div class="tab-content details-tab-content">
                        <!--                        Tab 1-->
                        <div class="tab-pane active" id="tab-1">
                            <div class="border-left border-right p-5 bg-white border-bottom br-bl-3 br-br-3">
                                <div class="item-det mb-4">
                                    <a href="#" class="text-dark">
                                        <h2 class="fs-22"
                                            th:text="${currentBean.getName()}">First Bean </h2></a>
                                    <div class="d-flex">

                                        <ul class="d-flex">
                                            <li class="mr-5">
                                                <a class="item-card2-icons">
                                                    <a class="fe fe-briefcase text-muted mr-1"></a>
                                                    <a th:text="${currentBean.getType().getName()}"></a>
                                                </a>
                                            </li>
                                            <li class="mr-5">
                                                <a class="icons">
                                                    <a class="fe fe-briefcase text-muted mr-1"></a>
                                                    <a th:text="${currentBean.getDevice().getName()}"></a>
                                                </a>
                                            </li>
                                            <li class="mr-5">
                                                <a class="icons">
                                                    <a class="fe fe-calendar text-muted mr-1"> </a>
                                                    <a th:text="${currentBean.getTag().getName()}"></a>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="icons">
                                                    <a class="fe fe-upload-cloud"></a>
                                                    <a th:text="${currentBean.getUploadDate()}"></a>
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="rating-stars d-flex">
                                            <div class="rating-stars-container mr-2">
                                                <div class="rating-star sm">
                                                    <a class="fa fa-heart"></a>
                                                    <a th:text="${currentBean.getTotalVoters()}"></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="marketplace-single-imag mx-auto text-center">
                                    <a href="javascript:void(0)" class="d-block link-overlay">
                                        <img class="d-block img-fluid  mx-auto text-center w-100"
                                             th:src=${currentBean.getImage()}
                                             src="../assets/images/media/pictures/thumb-list/thumb-2.jpg" alt="">
                                        <span class="link-overlay-bg rounded">
													<i class="fe fe-search fs-25"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <!--Description-->
                            <div class="card mt-5">
                                <div class="card-header">
                                    <h3 class="card-title">Description</h3>
                                </div>

                                <div class="card-body">
                                    <div class="mb-0">
                                        <p th:text="${currentBean.getDescription()}">
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias
                                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                                            qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                                    </div>
                                </div>
                            </div>
                            <!--Description-->

                        </div>
                        <!-- End of Tab 1-->

                        <!-- Versions  -->
                        <div class="tab-pane" id="tab-2">
                            <div class="border-left border-right p-5 bg-white border-bottom br-bl-3 br-br-3">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="card shadow-none" th:each="currentVersion : ${currentBeanVersions}">

                                            <div class="card-header bg-light shadow-none">

                                                <div class="card-options">
                                                    <span>
                                                        <a th:href="${currentVersion.getContent()}"
                                                           class="text-primary mr-1 ml-1">DOWNLOAD  </a>
                                                        <span>SHA256 Checksum:
                                                        <span th:text="${currentVersion.getSha256Checksum}"></span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <h4 class=" dark-grey-text mb-2"
                                                    th:text="${currentVersion.getName()}">Design Qulity</h4>

                                                <p class="font-weight-normal dark-grey-text mb-0"
                                                   th:text="${currentVersion.getModifications()}">
                                                    Excellent design .</p>
                                            </div>
                                        </div>

                                        <ul class="pagination">
                                            <li class="page-item page-prev disabled">
                                                <a class="page-link" href="#" tabindex="-1">Prev</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item page-next">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End of Versions  -->

                        <!-- Comments -->
                        <div class="tab-pane" id="tab-3">
                            <div class="border-left border-right p-5 bg-white border-bottom br-bl-3 br-br-3">

                                <div class="card shadow-none" th:each="currentComment : ${totalComment}">
                                    <div class="card-body">
                                        <div>
                                            <div class="media mt-0">
                                                <div class="media-body">
                                                    <div class="d-md-flex align-items-center">
                                                        <h4 class="mb-2" th:text="${currentComment.getAuthor()}">
                                                            Marco Theme
                                                        </h4>
                                                        <small class="text-muted ml-md-auto">
                                                            <i class="fe fe-calendar mr-1">
                                                                <a th:text="${currentComment.getPosted()}"></a>
                                                            </i>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="fs-15  mb-0 mt-3" th:text="${currentComment.getText()}">
                                                Ut enim ad minim veniam, quis Neque porro quisquam est.
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <form th:action="@{/bean/{beanName}/comment(beanName=${currentBean.getName()})}"
                                  th:object="${commentDto}" method="post">
                                <div class="card mt-5">
                                    <div class="card-header">
                                        <h3 class="card-title">Write Your Comments</h3>
                                    </div>

                                    <div class="card-body">
                                        <div class="form-group">
                                            <label style="color: red" class="error" th:errors="*{author}">Error
                                                placeholder </label>
                                            <input type="text" class="form-control" id="name1" placeholder="Your Name"
                                                   th:field="*{author}">
                                        </div>

                                        <div class="form-group">
                                            <label style="color: red" class="error" th:errors="*{text}">Error
                                                placeholder </label>
                                        <textarea class="form-control" name="example-textarea-input" rows="5"
                                                  placeholder="Write Your Comment" th:field="*{text}"></textarea>
                                        </div>
                                        <button type="Submit" value="Save" class="btn ripple  btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End of Comments -->

                    </div>
                    <!-- End of Icons above picture    -->

                </div>

            </div>

            <!--Right Side Content-->
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="card mt-5 mt-lg-0">
                    <div class="licence-niceselect pt-4 pl-4 pr-4 pb-0">
                        <div class="licence-niceselect">
                            <select class="nice-select  required" id="licence-categories" name="custom1">
                                <option value="regular">Regular License</option>
                                <option value="extend">Extended License</option>
                            </select>
                        </div>
                    </div>
                    <div class="pt-4 pb-4 pl-5 pr-5 border-bottom">
                        <div class="licence-content active" id="regular">
                            <ul class="list-unstyled widget-spec  mb-0">
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> 6 Months Support & Updates
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Forum Support
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Best Qulity Product
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> One domain
                                </li>
                            </ul>
                        </div>
                        <div class="licence-content" id="extend">
                            <ul class="list-unstyled widget-spec  mb-0">
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> 1 year Support & Updates
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Forum Support
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Best Qulity Product
                                </li>
                                <li>
                                    <i class="fe fe-check" aria-hidden="true"></i> Unlimted domain
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- Total Downloads -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="wrp text-white icon-service2 bg-light text-center box-light-shadow">
                                <i class="typcn typcn-shopping-cart text-dark"></i>
                            </div>
                            <div class="ml-5">

                                <div class="">
                                    <p class="text-muted mb-0">Total Downloads </p>
                                    <p class="mb-0 font-weight-semibold fs-25">
                                        <a th:text="${currentBean.getTotalDownloads()}"></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Total Downloads -->

                <!--Total Comments-->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="wrp text-white icon-service2 bg-light text-center box-light-shadow">
                                <i class="typcn typcn-messages text-dark"></i>
                            </div>
                            <div class="ml-5">
                                <div class="">
                                    <p class="text-muted mb-0">Total Comments</p>
                                    <p class="mb-0 font-weight-semibold fs-25">
                                        <a th:text="${totalCommentsCount}"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Total Comments-->

                <!--User Section-->
                <div class="card">
                    <div class="card-body item-user">
                        <div class="text-center">
                            <a>
                                <h3 class="mt-2 mb-1 text-dark">Uploaded By</h3>
                            </a>
                            <span class="text-muted"
                                  th:text="${currentBean.getCreator().getUsername()}">
                            </span>
                        </div>

                    </div>
                </div>
                <!--End of User Section-->

                <!--Product Information-->
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="card-title">Product Information</h3>
                    </div>

                    <div class="card-body">
                        <div class="marketplace-content">
                            <ul class="list-unstyled widget-spec mb-0">
                                <li class="">
                                    <span class="w-40 font-weight-semibold text-dark">Bean name</span>
                                    <span class="w-60 text-muted"
                                          th:text="${currentBean.getName()}">18 January 2019</span>
                                </li>
                                <li class="pt-2">
                                    <span class="w-40 font-weight-semibold text-dark">Versions Count</span>
                                    <span class="w-60 text-muted"
                                          th:text="${totalVersionsCount}"></span>
                                </li>
                                <li class="pt-2">
                                    <span class="w-40 font-weight-semibold text-dark">Uploaded By</span>
                                    <span class="w-60 text-muted"
                                          th:text="${currentBean.getCreator().getUsername()}"></span>
                                </li>
                                <li class="pt-2">
                                    <span class="w-40 font-weight-semibold text-dark">Release Date</span>
                                    <span class="w-60 text-muted" th:text="${currentBean.getUploadDate}"> 10 January 2019</span>
                                </li>
                                <li class="pt-2">
                                    <span class="w-40 font-weight-semibold text-dark">Type</span>
                                    <span class="w-60 text-muted" th:text="${currentBean.getType().getName()}"></span>
                                </li>
                                <li class="pt-2">
                                    <span class="w-40 font-weight-semibold text-dark">Device</span>
                                    <span class="w-60 text-muted" th:text="${currentBean.getDevice().getName()}"></span>
                                </li>
                                <li class="pt-2">
                                    <span class="w-40 font-weight-semibold text-dark">Tag</span>
                                    <span class="w-60 text-muted" th:text="${currentBean.getTag().getName()}"></span>
                                </li>
                                <li class="pt-2">
                                    <span class="w-40 font-weight-semibold text-dark">Comments</span>
                                    <span class="w-60 text-muted">
                                        <a th:text="${totalCommentsCount}"></a></span>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
                <!-- End of Product Information-->

            </div>
            <!-- End of Right side Content-->

        </div>
    </div>
</section><!--/Section-->

<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Beans Realm - The better Beans shareplace </p>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Our Services</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a href="javascript:;">Our Team</a></li>
                            <li><a href="javascript:;">Contact US</a></li>
                            <li><a href="javascript:;">About</a></li>
                            <li><a href="javascript:;">Services</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">Terms and Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Ivan Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i>ivanov.biol@gmail.com</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 883 315 999</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        Copyright © 2023 <a href="#" class="fs-14 text-primary">Project</a>. Designed by
                        <a href="#"
                           class="fs-14 text-primary">
                            Ivan Ivanov </a>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer Section-->

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

<!-- JQuery js-->
<script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/assets/plugins/bootstrap-4.3.1/js/popper.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js}"></script>

<!--JQuery IT Itemsrkline js-->
<script th:src="@{/assets/js/jquery.sparkline.min.js}"></script>

<!-- Circle Progress js-->
<script th:src="@{/assets/js/circle-progress.min.js}"></script>

<!-- Star Rating js-->
<script th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

<!--Owl Carousel js -->
<script th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!--Horizontal Menu js-->
<script th:src="@{/assets/plugins/horizontal-menu/horizontal-menu.js}"></script>

<!--JQuery TouchSwipe js-->
<script th:src="@{/assets/js/jquery.touchSwipe.min.js}"></script>

<!--Select2 js -->
<script th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
<script th:src="@{/assets/js/select2.js}"></script>

<!-- Count Down js-->
<script th:src="@{/assets/plugins/count-down/jquery.lwtCountdown-1.0.js}"></script>

<!-- Custom scroll bar js-->
<script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!-- sticky js-->
<script th:src="@{/assets/js/sticky.js}"></script>

<!-- Image-tooltip js -->
<script th:src="@{/assets/plugins/image-tooltip/image-tooltip.js}"></script>

<!-- Nice-Select Js-->
<script th:src="@{/assets/plugins/jquery-nice-select/js/jquery.nice-select.js}"></script>
<script th:src="@{/assets/plugins/jquery-nice-select/js/nice-select.js}"></script>

<!-- Vertical scroll bar js-->
<script th:src="@{/assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js}"></script>
<script th:src="@{/assets/plugins/vertical-scroll/vertical-scroll.js}"></script>

<!--Owl Carousel js -->
<script th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!-- Swipe js-->
<script th:src="@{/assets/js/swipe.js}"></script>

<!-- Owl-carousel js-->
<script th:src="@{/assets/js/owl-carousel.js}"></script>

<!-- Custom Js-->
<script th:src="@{/assets/js/custom.js}"></script>

</body>

</html>