<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" th:href="@{/assets/images/brand/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/brand/favicon.ico}"/>

    <!-- Title -->
    <title>Beans Realm</title>

    <!-- Bootstrap css -->
    <link th:href="@{/assets/plugins/bootstrap-4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style css -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/skin-modes.css}" rel="stylesheet"/>

    <!-- Font-awesome  css -->
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet"/>

    <!-- Owl Theme css-->
    <link th:href="@{/assets/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet"/>

    <!--Select2 css -->
    <link th:href="@{/assets/plugins/select2/select2.min.css}" rel="stylesheet"/>

    <!-- jquery ui RangeSlider -->
    <link th:href="@{/assets/plugins/jquery-uislider/jquery-ui.css}" rel="stylesheet">

    <!--Image-tooltip css-->
    <link th:href="@{/assets/plugins/image-tooltip/image-tooltip.css}" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link th:href="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css}" rel="stylesheet"/>

    <!-- Color Skin css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" th:href="@{/assets/color-skins/color6.css}"/>

</head>

<body class="headerstyle1">

<!--Loader-->
<div id="global-loader">
    <img src="../assets/images/loader.svg" class="loader-img" alt="img">
</div><!--/Loader-->

<!--Section-->
<div class="cover-image bg-background" data-image-src="../assets/images/banners/banner4.jpg">

    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                    </div>
                </div>
            </div>
        </div><!--/Topbar-->

        <!--Header-->
        <header class="header-search header-logosec p-2 header-icons">
            <div class="container">
                <div class="d-flex">
                    <div class="header-search-logo d-none d-lg-block">
                    </div>
                    <div class="d-flex ml-auto header-right-icons header-search-icon">
                        <div class="dropdown d-md-flex notifications">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow cart-dropdown">
                                <div class="drop-cart header-dropdown-list">
                                    <div class="border-bottom">
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">

                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/03.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-bottom">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                                <img src="../assets/images/media/pictures/small/04.jpg" class="br-4"
                                                     alt="img">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">
                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="d-flex pl-3 pr-4 pt-2 pb-3 align-items-center">
                                            <div class="">
                                            </div>
                                            <div class="d-flex">
                                                <div class="pl-3">

                                                </div>
                                            </div>
                                            <div class="ml-auto text-center">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <div class="btn-list">
                                    </div>
                                </div>
                            </div>

                        </div><!-- NOTIFICATIONS -->
                        <div class="dropdown d-md-flex message">
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <div class="message-menu header-dropdown-list">
                                    <a class="dropdown-item border-bottom" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <span class="avatar avatar-md brround align-self-center cover-image"
                                                      data-image-src="../assets/images/users/male/1.jpg"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- MESSAGE-BOX -->

                            <div class="dropdown d-md-flex profile-1">

                                <a sec:authorize="isAuthenticated()"
                                   class="nav-link icon text-center" data-toggle="dropdown">
                                    <i class="fe fe-user"></i>
                                    <span class="pulse bg-success"></span>
                                </a>

                                <div class="top-bar-right">
                                    <ul class="custom">

                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <div class="drop-heading">
                                                <div class="text-center">
                                                    <h5 class="text-dark mb-1">
                                                        <h2 sec:authorize="isAuthenticated()"
                                                            sec:authentication="name">
                                                        </h2>
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider m-0"></div>
                                            <div class="dropdown-divider mt-0"></div>
                                            <a class="dropdown-item" th:href="@{/logout}">
                                                <i class="dropdown-icon ti-unlock"></i> Logout
                                            </a>
                                        </div>

                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header><!--/Header-->

        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            </div>
        </div>
        <!-- /Mobile Header -->

        <!--Horizontal-main -->
        <div class="header-style horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('user', 'admin')">
                            <i class="fe fe-home"></i><a th:href="@{/}">Home </a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('user', 'admin')">
                            <i class="fe fe-codepen"></i><a th:href="@{/beans}">Filter Beans</a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('user', 'admin')">
                            <i class="fe fe-upload"></i> <a th:href="@{/bean}">Upload Bean</a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('admin')">
                            <i class="fe fe-codepen"></i><a th:href="@{/beans/unapproved}">Approve New Beans</a>
                        </li>
                        <li aria-haspopup="true" sec:authorize="hasAnyAuthority('admin')">
                            <i class="fe fe-codepen"></i><a th:href="@{/users}">Disable Users</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--/Horizontal-main -->

    </div><!--Topbar-->

    <!--Search Section-->
    <section>
        <div class="sptb-2 sptb-tab">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white mb-6">
                        <h1 class="mb-1">Beans Realm</h1>
                        <p class="mb-0">Free beans</p>
                    </div>

                    <!--Search Form-->
                    <form>
                        <div class="row">
                            <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                                <div class="search-form">
                                    <input type="search" class="form-control input-lg"
                                           id="text4" placeholder="Search bean by name...">
                                    <button class="btn ripple ">
                                        <i class="fe fe-search" th:href="@{/beans/search}"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!--Search Section-->

</div><!--/Section-->

<form method="POST" th:action="@{/beans}">

    <!--Section-->
    <section class="sptb">
        <div class="container">

            <!-- FILTER-->
            <div class="col-xl-8 col-lg-8 col-md-12" style="margin:auto">
                <div class="card">

                    <!-- Tag -->
                    <div class="card-body">
                        <div class="d-flex select2-sm">
                            <label class="mr-2 mt-1 mb-sm-1"><b>Tag </b></label>
                            <select name="tag" class="form-control select-sm w-70 select2">
                                <option th:value="${null}" th:text="${'--Select--'}" value="1">All</option>
                                <option th:each="tag : ${tags}" th:value="${tag.getId()}" th:text="${tag.getName()}"
                                        value="1">All
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- END of Tag -->

                    <!-- Type -->
                    <div class="card-body">
                        <div class="d-flex select2-sm">
                            <label class="mr-2 mt-1 mb-sm-1"><b>Type </b></label>
                            <select name="type" class="form-control select-sm w-70 select2">
                                <option th:value="${null}" th:text="${'--Select--'}" value="1">All</option>
                                <option th:each="type : ${types}" th:value="${type.getId()}"
                                        th:text="${type.getName()}" value="1">All
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- End of Tag -->

                    <!-- Device -->
                    <div class="card-body">
                        <div class="d-flex select2-sm">
                            <label class="mr-2 mt-1 mb-sm-1"><b>Device </b></label>
                            <select name="device" class="form-control select-sm w-70 select2">
                                <option th:value="${null}" th:text="${'--Select--'}" value="1">All</option>
                                <option th:each="device : ${devices}" th:value="${device.getId()}"
                                        th:text="${device.getName()}" value="1">All
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- End of Device -->

                    <!-- Page -->
                    <div class="card-body">
                        <div class="d-flex select2-sm">
                            <label class="mr-2 mt-1 mb-sm-1"><b>Page </b></label>
                            <select name="offset" class="form-control select-sm w-70 select2">
                                <option th:value="${0}" th:text="${1}" value="1">All</option>
                                <option th:value="${5}" th:text="${2}" value="1">All</option>
                                <option th:value="${10}" th:text="${3}" value="1">All</option>
                            </select>
                        </div>
                    </div>
                    <!-- End of Page -->

                    <div class="card-footer">
                        <button onclick="submit" type="submit" value="value" class="btn ripple  btn-pink btn-block">
                            Apply Filter
                        </button>
                    </div>
                </div>
            </div>
            <!-- FILTER-->

            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12" style="margin:auto">
                    <div class="mb-lg-0">
                        <div class="">
                            <div class="item2-gl">

                                <div class="tab-content Marketplace">
                                    <div class="tab-pane active" id="tab-11">

                                        <!-- Single Bean-->
                                        <div class="card overflow-hidden card-list-item1"
                                             th:each="bean : ${filteredBeans}">

                                            <div class="d-md-flex">
                                                <div class="item-card9-img">
                                                    <div class="item-card9-imgs">
                                                        <a href="page-details.html"></a>
                                                        <div id="carousel-controls"
                                                             class="carousel slide property-slide"
                                                             data-ride="carousel" data-interval="false">
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active">
                                                                    <img th:src=${bean.getImage()}
                                                                         src="../assets/images/media/pictures/thumb-list/1.jpg"
                                                                         alt="img" class="cover-image d-block w-100"
                                                                         data-holder-rendered="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-card9-icons">
                                                        <a class="item-card9-icons1 bg-purple"
                                                           data-toggle="tooltip" data-placement="top" title="Share">
                                                            <i class="icon icon-share"></i></a>
                                                    </div>
                                                </div>
                                                <div class="card border-0 mb-0">
                                                    <div class="d-md-flex">
                                                        <div class="item-card9 w-65">
                                                            <div class="card-body pt-4 pb-4">
                                                                <a href="page-details.html" class="text-dark">
                                                                    <h3 class="" th:text="${bean.getName()}">
                                                                        HTML Template</h3></a>
                                                                <ul class="list-unstyled widget-spec1 mt-3 mb-0">
                                                                    <li class="mb-1">
                                                                        <i class="fa fa-circle-o text-muted"
                                                                           aria-hidden="true"></i><h5 th:text="${bean.getTag().getName()}"></h5>
                                                                    </li>
                                                                    <li class="mb-1">
                                                                        <i class="fa fa-circle-o text-muted"
                                                                           aria-hidden="true" ></i> <h5 th:text="${bean.getType().getName()}"></h5>
                                                                    </li>
                                                                    <li class="mb-1">
                                                                        <i class="fa fa-circle-o text-muted"
                                                                           aria-hidden="true"></i> <h5 th:text="${bean.getDevice().getName()}"></h5>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="card-footer pt-1 pl-3 pr-3 pb-1">
                                                        <div class="footerimg d-sm-flex mt-0 mb-0">
                                                            <div class="d-flex footerimg-l mb-0 mt-4">

                                                                <a th:text="${bean.getCreator().getUsername()}"
                                                                   class="time-title text-muted p-0 leading-normal mt-2">Emily
                                                                    <i class="fe fe-check-circle text-success fs-12 ml-1"
                                                                       data-toggle="tooltip" data-placement="top"
                                                                       title="verified"></i></a>
                                                            </div>
                                                            <div class="footerimg-r ml-auto">
                                                                <div class="btn  btn-list">
                                                                    <a th:href="@{/bean/{beanName}(beanName=${bean.getName()})}"
                                                                       class="btn ripple  btn-primary">
                                                                        <i class="fe fe-airplay mr-1"></i>View Bean</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End of Single Bean-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!--Section-->

</form>

<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>Beans Realm - The better Beans shareplace </p>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn ripple btn-floating btn-sm mx-1">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Our Services</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a href="javascript:;">Our Team</a></li>
                            <li><a href="javascript:;">Contact US</a></li>
                            <li><a href="javascript:;">About</a></li>
                            <li><a href="javascript:;">Services</a></li>
                            <li><a href="javascript:;">Blog</a></li>
                            <li><a href="javascript:;">Terms and Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="footer-conatct list-unstyled mb-0 contact-footer">
                            <li>
                                <a><i class="fa fa-home mr-3 text-white"></i>Ivan Ivanov</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope mr-3 text-white"></i>ivanov.biol@gmail.com</a>
                            </li>
                            <li>
                                <a><i class="fa fa-phone mr-3 text-white"></i> +359 883 315 999</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-dark text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center">
                        Copyright © 2023 <a href="#" class="fs-14 text-primary">Project</a>. Designed by
                        <a href="#"
                           class="fs-14 text-primary">
                            Ivan Ivanov </a>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--Footer Section-->

<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

<!-- JQuery js-->
<script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/assets/plugins/bootstrap-4.3.1/js/popper.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap-4.3.1/js/bootstrap.min.js}"></script>

<!--JQuery Sparkline js-->
<script th:src="@{/assets/js/jquery.sparkline.min.js}"></script>

<!-- Circle Progress js-->
<script th:src="@{/assets/js/circle-progress.min.js}"></script>

<!-- Star Rating js-->
<script th:src="@{/assets/plugins/rating/jquery.rating-stars.js}"></script>

<!--Owl Carousel js -->
<script th:src="@{/assets/plugins/owl-carousel/owl.carousel.js}"></script>

<!--Horizontal Menu js-->
<script th:src="@{/assets/plugins/horizontal-menu/horizontal-menu.js}"></script>

<!--JQuery TouchSwipe js-->
<script th:src="@{/assets/js/jquery.touchSwipe.min.js}"></script>

<!--Select2 js -->
<script th:src="@{/assets/plugins/select2/select2.full.min.js}"></script>
<script th:src="@{/assets/js/select2.js}"></script>

<!-- sticky js-->
<script th:src="@{/assets/js/sticky.js}"></script>

<!-- Image-tooltip js -->
<script th:src="@{/assets/plugins/image-tooltip/image-tooltip.js}"></script>

<!-- Jquery-uislider -->
<script th:src="@{/assets/plugins/jquery-uislider/jquery-ui.js}"></script>

<!-- Custom scroll bar js-->
<script th:src="@{/assets/plugins/scroll-bar/jquery.mCustomScrollbar.js}"></script>

<!--Showmore js-->
<script th:src="@{/assets/js/jquery.showmore.js}"></script>
<script th:src="@{/assets/js/showmore.js}"></script>
<script th:src="@{/assets/js/uislider.js}"></script>

<!-- Owl-carousel js-->
<script th:src="@{/assets/js/owl-carousel.js}"></script>

<!-- Custom Js-->
<script th:src="@{/assets/js/custom.js}"></script>

</body>

</html>